<div id="page-header">
  <div id="page-header-inner">
    <ul id="topic-navigation">
      <li>スレッドエントランス</li>
      <li><%= link_to 'スレッド作成','topics/create' %></li>
      <li><%= link_to 'スレッドリスト','topics/list' %></li>
    </ul>
    <ul id="general-navigation">
      <!-- float:rightで逆順になるからその場しのぎだけどこの形に-->
      <li>ログアウト</li>
      <li><%= link_to 'MyPage','/' %></li>
      <li>チャット</li>
      <li><%= link_to '掲示板','topics/index' %></li>
    </ul>
  </div>
</div>

<%= form_for @new_topic, :url => {:action => 'create'} do |f| %>
  <div class="">
    <div class="content1">
      <p>スレッドタイトルを入力してください</p>
    </div>
    <%= f.text_field :title %>
    <!--
    <div class="content2">
      <p>スレッドの内容を入力してください</p>
    </div>
    <p>
      <textarea name="area1" class="thread_contents" cols="40" rows="8">
      </textarea>
    </p>
    <div class="content3">
      <p> <input type="checkbox">名無しで発言する</p>
    </div>
    -->
    <%= f.submit(['新しいスレッドを追加']) %>
  </div>
<% end %>
