<head>
  <meta charset="utf-8">
  <title>プロフィール</title>
  <link rel="stylesheet" href="profuru.css">
</head>

<body>
  <div id="page-header">
    <div id="page-header-inner">
      <ul id="prof-navigation">
        <li><%= link_to "MyPage", "/users" %></li>
        <li><%= link_to "プロフィール編集", "/users/edit" %></li>
        <li><%= link_to "ユーザ検索","" %>/li>
      </ul>

      <ul id="general-navigation">
        <li><%= link_to "Log Out", "/users/sign_out" %></li>
        <li><%= link_to  "MyPage", "" %></li>
        <li><%= link_to  "チャット", "" %></li>
        <li><%= link_to '掲示板', topics_index_url %></li>
      </ul>
    </div>
  </div>
  <div class="youser">
    <img src="kuroko.jpg">
    <div class="myprof">
      <p class="mypro1">Name :<%= current_user.username %>　　ユーザID :<%= current_user.id %></p>
      <p class="mypro2"><a href="">aaaaa</a> 他aaaaaルームから招待を受けています。</p>
    </div>
    <ul class="mypro3">
      <a href=""><li class="mypro3-1">アカウント削除</li></a>
      <a href=""><li>プロフィールの編集</li></a>
    </ul>
  </div>

  <div class="room">
    <p>参加中のルーム</p>
      <div class="room1">
      </div>
    <p>招待中のルーム</p>
      <div class="room2">
      </div>
  </div>

  <div class="writelist">
    <p>自分の最近の書き込みのリスト</p>
      <div class="writelist1">
      </div>
  </div>

  <div class="ranking">
    <p>掲示板のランキング</p>
      <div class="ranking1">
      </div>
  </div>

</body>
