<h1>W3 プロフィール画面</h1>

<div>
  <%= link_to "ログアウト", "/users/sign_out" %>
</div>

<div>
  <%= link_to "プロフィール編集", "/users/edit" %>
</div>

<div>ユーザーID:<%= current_user.id %></div>
<div>Name:<%= current_user.username %></div>

<%= link_to '掲示板へ', topics_index_url %> 
